# OS X files
.DS_Store
# composer directories
wp/
wp-content/themes/utah-beer-finder/vendor/
wp-content/themes/utah-beer-finder/plugins/
# wp uploads
wp-content/uploads/
wp-content/plugins/
wp-config.php